apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
nameSuffix: -dev

namespace: rottenbikes


images:
- name: api
  newName: monorailisland/rottenbikes
  newTag: api-v1.0.5
- name: ui
  newName: monorailisland/rottenbikes
  newTag: ui-v1.0.5

resources:
- ../base
- gateway.yaml
- httproute.yaml
- certificates.yaml

configMapGenerator:
- behavior: merge
  literals:
  - DB_HOST=172.233.115.22
  - DB_PORT=5432
  - DB_NAME=rottenbikes
  - EXPO_PUBLIC_API_URL=https://api-dev.rottenbik.es
  - EXPO_PUBLIC_HCAPTCHA_SITEKEY=59f8d596-0090-449c-ab7c-a8967718a2c0
  - UI_HOST=dev.rottenbik.es
  - UI_PORT=443
  name: rottenbikes-config


patches:
- patch: |-
    $patch: delete
    apiVersion: v1
    kind: Secret
    metadata:
      name: rottenbikes-secrets
- patch: |
    $patch: delete
    apiVersion: v1
    kind: Namespace
    metadata:
      name: rottenbikes
labels:
- includeSelectors: true
  pairs:
    env: dev
