apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  labels:
    app: api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
      - name: api
        image: monorailisland/rottenbikes:api-latest
        ports:
        - containerPort: 8080
        - containerPort: 9091
        envFrom:
        - configMapRef:
            name: rottenbikes-config
        - secretRef:
            name: rottenbikes-secrets
        resources:
          limits:
            cpu: "500m"
            memory: "512Mi"
          requests:
            cpu: "100m"
            memory: "128Mi"
