apiVersion: apps/v1
kind: Deployment
metadata:
  name: ui
  labels:
    app: ui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ui
  template:
    metadata:
      labels:
        app: ui
    spec:
      containers:
      - name: ui
        image: ui
        ports:
        - containerPort: 8080
        env:
        - name: PORT
          valueFrom:
            configMapKeyRef:
              name: rottenbikes-config
              key: PORT
        - name: EXPO_PUBLIC_API_URL
          valueFrom:
            configMapKeyRef:
              name: rottenbikes-config
              key: EXPO_PUBLIC_API_URL
        - name: EXPO_PUBLIC_HCAPTCHA_SITEKEY
          valueFrom:
            configMapKeyRef:
              name: rottenbikes-config
              key: EXPO_PUBLIC_HCAPTCHA_SITEKEY
        resources:
          limits:
            cpu: "500m"
            memory: "512Mi"
          requests:
            cpu: "100m"
            memory: "128Mi"
