apiVersion: v1
kind: Service
metadata:
  name: api
spec:
  selector:
    app: api
  ports:
  - protocol: TCP
    name: http
    port: 8080
    targetPort: 8080
  - protocol: TCP
    name: metrics
    port: 9091
    targetPort: 9091
  type: ClusterIP
